<div class="col-md-12">
  <div class="card card-container">
    @if (!isSuccessful) {
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        @if (username.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (username.errors['required']) {
          <div>Username is required</div>
          }
          @if (username.errors['minlength']) {
          <div>Username must be at least 3 characters</div>
          }
          @if (username.errors['maxlength']) {
          <div>Username must be at most 20 characters</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="new_password">New Password</label>
        <input
          type="password"
          class="form-control"
          name="new_password"
          [(ngModel)]="form.new_password"
          required
          minlength="6"
          #new_password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && new_password.errors }"
        />
        @if (new_password.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (new_password.errors['required']) {
          <div>New Password is required</div>
          }
          @if (new_password.errors['minlength']) {
          <div>New Password must be at least 6 characters</div>
          }
        </div>
      }
      </div>

      <div class="form-group">
          <label for="confirmed_password">Confirmed Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmed_password"
            [(ngModel)]="form.confirmed_password"
            required
            minlength="6"
            #confirmed_password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && confirmed_password.errors }"
          />
          @if (confirmed_password.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (confirmed_password.errors['required']) {
            <div>Confirmed Password is required</div>
            }
            @if (confirmed_password.errors['minlength']) {
            <div>Confirmed Password must be at least 6 characters</div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Change Password</button>
      </div>

      @if (f.submitted && isChangePasswordFailed) {
      <div class="alert alert-warning">
        Change Password Failed!<br />{{ errorMessage }}
      </div>
      }
    </form>
    <button class="btn btn-info btn-block" (click)="goBack()">Back</button>
    } @else {
    <div class="alert alert-success">Your password was changed successful!</div>
    }
  </div>
</div>
