<div class="list row h-75 d-flex gap-3">
  <div class="col-md-6 h-100 overflow-auto">
    <h4>Products List</h4>
    <ul class="list-group">
      @for (product of products; track product.id; let i = $index) {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveProduct(product, i)"
      >
        {{ product.title }}
      </li>
      }
    </ul>
  </div>
  <div class="col-md-6 h-100">
    <app-product-details
      [viewMode]="true"
      [currentProduct]="currentProduct"
    ></app-product-details>
  </div>
</div>
